<html>
    <head>
        <title>Vocatrainer</title>
        <style>
            body {
                font-family: sans-serif;
                background-color: #000;
                color: #fff;
            }
        </style>
    </head>
    <body>
        <h1>Vocatrainer</h1>
        <h2><em>A simple application to learn vocabulary</em></h2>
        
        <p>
            This is a paragraph
            <a href="https://www.google.com">Google</a>
        </p>

        <form action="/html">
            <input type="text" placeholder="Please enter a word"/>
            <input type="submit" value="Save"></button>
        </form>
        
        <img src="static/image.jpg" alt="image"></img>

        <video width="800px" controls>
            <source src="static/video.mp4" type="video/mp4">
        </video>
        
        
    </body>
</html>